/qodana.yaml
/exports/listky.pdf
/exports/listly.pdf
/exports/rozlosovani_druzstva.pdf
/exports/vysledky.pdf
/imports/SGM Majovy pohar_startovka.xlsx
/imports/SGM Majovy pohar_startovka_vysledky.xlsx
